<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">{{ site.titleheader }}</span>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span>
          <div class="container portfolio-flex-grid">
            <div class="row">
              <div class="col-lg-12 text-center skills">
                  <h2 class="green">Media</h2>
              </br>
              </div>
             </div>
                <div class="portfolio-flex-row">
                  <div class="portfolio-flex-item portfolio-item">
                  <img src="img/portfolio/gartner.png" class="img-responsive" alt="Gartner"></br>
                  </div>
                  <div class="portfolio-flex-item portfolio-item">
                  <img src="img/portfolio/ico_TNW.jpeg" class="img-responsive" alt="TNW">
                  </div>
                  <div class="portfolio-flex-item portfolio-item">
                  <img src="img/portfolio/ico_techCrunch.jpeg" class="img-responsive" alt="TechCrunch">
                  </div>
                  <div class="portfolio-flex-item portfolio-item">
                  <img src="img/portfolio/ico_USAtoday.jpeg" class="img-responsive" alt="USAToday">
                  </div>
                  <div class="portfolio-flex-item portfolio-item">
                    <img src="img/portfolio/cultofmac.png" class="img-responsive" alt="CultOfMac">
                  </div>
                  <div class="portfolio-flex-item portfolio-item">
                  <img src="img/portfolio/CNET.png" class="img-responsive" alt="CNET">
                </div>
            </div>

            <div class="row">
              <div class="col-lg-12 text-center skills">
                  <h2 class="green">Clients</h2>
                </br>
              </div>
             </div>
                <div class="portfolio-flex-row">
                  <div class="portfolio-flex-item portfolio-item">
                  <img src="img/portfolio/astrazeneca.png" class="img-responsive" alt="astrazeneca">
                  </div>
                  <div class="portfolio-flex-item portfolio-item">
                  <img src="img/portfolio/NHAM.png" class="img-responsive" alt="NH">
                  </div>
                  <div class="portfolio-flex-item portfolio-item">
                  <img src="img/portfolio/danaher.jpg" class="img-responsive" alt="Danaher Corporation">
                  </div>
                  <div class="portfolio-flex-item portfolio-item">
                  <img src="img/portfolio/Flatlay-Logo.png" class="img-responsive" alt="Flatlay">
                  </div>
                  <div class="portfolio-flex-item portfolio-item">
                    <img src="img/portfolio/LOGO-SCHILLER.png" class="img-responsive" alt="Schiller">
                    </div>
                  <div class="portfolio-flex-item portfolio-item">
                    <img src="img/portfolio/DellTech.png" class="img-responsive" alt="Dell">
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
